.button {
  display: block;
  width: 180px;
  appearance: none;
  border: 1px solid #888888;
  background-color: #dedede;
  padding: 10px 20px;
  cursor: pointer;
  transition: 200ms ease-out;
  margin: 0 auto;

  &:not(:last-child){
    margin-bottom: 10px;
  }

  &:hover {
    background: #b8b8b8;
  }
}
